@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html{
  font-size: 10px;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

a button:hover{
  cursor: pointer;
  transition: transform 180ms ease, box-shadow 180ms ease;
}

.font-title {
  font-family: var(--font-libre);
}

.font-body {
  font-family: var(--font-inter);
}

.font-button {
  font-family: var(--font-montserrat);
}